body, ul, li, h1, h2, h3 { /* removes default browser css */
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    min-height: 100vh;
    font-family: monospace;
    background-image: url("/images/nightskystar.gif");
}

/* COMPONENTS */
.text {
    color: #faf8e5;
    font-size: 20px;
}
.button {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    background-color: #bf57ac;
    color: #040254;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
}

.button:hover {
    background-color: #8180fc;
    color: #040254;
}

.heading {
    color: #faf8e5;
    text-align: center;
}

/* LAYOUT */
.main-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 450px;
    max-height: auto;
    border: 5px solid #bf57ac;
    background-color: #262c7c;
}

.splash {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.splash-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}